In [1]:
'''import your .py pipeline here'''
import pandas as pd
import Beijing_pol as Bei_pol

In [2]:
# Create a list of DataFrames by using a list comprehension with read_csv
'''change 'winds' to any list/category you want to analyze'''
'''target= adjust this to fit your data and hypothesis'''
winds = ['NE', 'NW', 'SE', 'cv']
target = ['iws']
dfs = [pd.read_csv(f'http://static.bc-edx.com/ai/ail-v-1-0/m12/lesson_3/datasets/beijing-pm2-5-{wind}.csv') for wind in winds]
dfs[1]

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14145,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
14146,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
14147,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
14148,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
14149,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [3]:
# Create a dictionary with the models:

'''enter in target column into blank: model_dict[f"{df.iloc[0,9]}_model"] = Bei_pol.prod_model_generator(df,'___')  '''
'''for ___.iloc[0,____], the blank is the clomun number you want to call through the pipeli.'''
model_dict = {}
for df in dfs:
    print(df.iloc[0,9])
    model_dict[f"{df.iloc[0,9]}_model"] = Bei_pol.prod_model_generator(df,'Iws')
    print("----------")

NE
Mean Squared Error: 190.0738009342421
R-squared: 0.19646859822585627
Adjusted R-squared: 0.19579165517465646
WARNING: LOW ADJUSTED R-SQUARED VALUE
----------
NW
Mean Squared Error: 4274.212599544677
R-squared: 0.23238840425647855
Adjusted R-squared: 0.2321605587249429
WARNING: LOW ADJUSTED R-SQUARED VALUE
----------
SE
Mean Squared Error: 446.5081770841683
R-squared: 0.08163894393688076
Adjusted R-squared: 0.0813867854920528
WARNING: LOW ADJUSTED R-SQUARED VALUE
----------
cv
Mean Squared Error: 20.547882272958315
R-squared: 0.012774044646630234
Adjusted R-squared: 0.012332135087385288
WARNING: LOW ADJUSTED R-SQUARED VALUE
----------

#### Does your application work?
yes
#### Were the results better or worse than running a single model on the entire dataset?
better
#### Do you think it was better to train multiple models on the subsets of data or to train one model on the entire set?
yes
#### Would you use the utilities you built again for other machine learning projects?
absolutely
#### What would you change to make these utilities more broadly applicable?
already did
#### What would you add to make the utilities more powerful?